.chat-screen {
  display: grid;
  width: 100%;
  height: 85vh;
  grid-template-columns: 3fr 9fr;
  grid-template-areas: 
  'n n'
  'l r';
}

.half-screen {
  border:1px solid rgb(112, 110, 110, 0.2);
  border-top: 0px;
  grid-area: r;
}

.chat-heads {
  border-right: 0px;
  grid-area: l;
}